<aside class="text-bg-dark position-fixed top-0 bottom-0">
  <nav class="mt-5">
    <ul class="list-unstyled">
      <li class="">
        <a routerLink="employees" class="text-decoration-none p-3 d-flex align-items-center text-white" routerLinkActive="active" > <mat-icon class="me-2">group</mat-icon> <span class="nav-text">Employees</span></a>
      </li>
      <li class="">
        <a class="text-decoration-none p-3 d-flex align-items-center text-white" routerLink="employee-form" routerLinkActive="active"><mat-icon class="me-2">group_add</mat-icon>  <span class="nav-text">Add Employee</span> </a>
      </li>
    </ul>
  </nav>
</aside>
